<div class="container-fluid py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-xl-7">
        <div class="card">
          <div class="col-xl-12">
            <div class="form-area">
              <div class="form-content col-xl-6">
                <img
                  src="../../../assets/images/shutterstock_1504004246.jpg"
                  class="login-img"
                />
              </div>
              <div class="form-input col-xl-6">
                <h2 class="login-text">Login</h2>
                    <form [formGroup] = "registrationForm" (ngSubmit)="submit()" >
                        <div class="form-group">
                        <label>Email address</label>
                        <input type="text" class="form-control"  formControlName = "email"  placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        <span style="color: red;" *ngIf="registrationForm.controls['email'].invalid && registrationForm.controls['email'].touched">Email Required</span>
                        </div>
                        <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" formControlName="password" placeholder="Password">
                        <span style="color: red;" *ngIf="registrationForm.controls['password'].invalid && registrationForm.controls['password'].touched">Password Required</span>
                        </div>    
                        <div class="loginform-button">
                            <button class="login-btn" type="submit">Login</button>
                          </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



